/* autoprefixer grid: on */

html, body, body div, span, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, 
abbr, address, cite, code, del, dfn, em, img, 
ins, kbd, q, samp, small, strong, sub, sup, var, b, 
i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, article, 
aside, figure, footer, header, hgroup, menu, nav, section, 
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: bottom;
  background: transparent;
}

*{
  box-sizing: border-box;
}

html, body{
  font-size: 10px;
}

#root{
  background-color: #cccccc;
  min-height: 100vh;
}

.app_wrapper{
  display: grid;
  grid-template-areas: "n c";
  grid-template-columns: 2fr 10fr;

  max-width: 1024px;
  min-height: 100vh; 
  margin: 0 auto;
  padding-top: 50px;

  background-color: #fff; 
}

.app_wrapper_content{
  grid-area: c;
  min-height: 100vh;
    
}


