.dialogs{
    display: grid;
    grid-template-columns: 2fr 6fr;
    justify-items: stretch;
    align-items: start;
    min-height: 100vh;
}

.dialogs_items .active{
    color: rgb(212, 183, 14);
    text-decoration: underline;
}

.dialogs_items a{
    font-size: 2em;
    line-height: 1.5em;
    color: rgb(80, 80, 80);
    text-decoration: none;

    border-right: 1px solid rgb(80, 80, 80);

    display: grid;
    justify-items: center;
}

.messages{
    font-size: 1.8em;
    font-style: 1.5em;
}

.message{
    color: rgb(36, 35, 35);

    display: grid;
    justify-items: center;
}

.new_message{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 90%;
    margin: 3rem auto;
}

.new_message textarea{
    resize: none;
    width: 100%;
    border-radius: 0.3em;
}
.new_message input{
    background-color: #5181b8;
    color: #ffffff;
    
    padding: 0.8em 2em;
    margin-top: 0.2em;
    
    border: none;
    border-radius: 0.3em;

    cursor: pointer;
}

.new_message input[type='button']:hover{
    background-color: #5181b8;
    box-shadow: 0px 0px 10px 1px rgba(81,129,184,1);
}